@use '../base/variables' as v;
@use '../base/mixins' as m;

.confirmar{
    margin-top: 5rem;
    .uptask{
        @include m.textoDegradado(v.$indigo);
    }
    .acciones{
        display: flex;
        justify-content: center;
        a{
            color: v.$indigo;
            transition: 0.8s all ease-in-out;
        }
        a:hover{
            color:black;
        }
    }

}
